@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --fg: #333333;
    --bg: #ffffff;
    --accent: #6999c9;
}

html {
    font-family: Poppins;
    background-color: var(--bg);
    color: var(--fg);
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.navcontainer {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.navbar {
    overflow: hidden;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--bg);
}

.navbar .logo {
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
}

.navbar .links a {
    float: right;
    display: block;
}

.top-fade {
    background: linear-gradient(var(--bg), transparent);
    height: 50px;
    width: 100%;
}

.main {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main .greeting {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}

.main .greeting .title {
    font-size: 4em;
    text-align: center;
}

.main .greeting .subtitle {
    font-size: 1.25em;
    text-align: center;
}

.main .greeting .vdiv {
    height: 2px;
}

.main .greeting .interest_box {
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main .greeting .interest_box .interest a {
    font-size: 2em;
    transition: font-size 100ms;
}

.main .greeting .interest_box .interest a:hover {
    font-size: 3em;
}

.main .greeting .interest_box .divider {
    font-size: 4em;
    color: var(--fg);
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.main .greeting .resume {
    height: 3em;
}

.main .greeting .resume .dl-button {
    border-style: solid;
    border-radius: 8px;
    border-color: var(--fg);
    border-width: 1px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: font-size 100ms, color 100ms, background-color 100ms;
}

.main .greeting .resume .dl-button:hover {
    font-size: 1.1em;
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--bg);
}

.main .greeting .resume .dl-button .icon {
    padding: 8px;
    border-style: solid;
    border-color: inherit;
    border-width: 0px 1px 0px 0px;
}

.main .greeting .resume .dl-button .text {
    padding: 8px;
}

.scroll {
    position: relative;
    bottom: 10%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll .icon {
    font-size: 2em;
    margin: auto;
    transition: font-size 100ms;
}

.scroll .icon:hover {
    font-size: 3em;
    color: var(--accent);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .row {
    width: 60%;
    max-width: 50em;
}

.content .row .brief {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gdrive-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.gdrive-vid {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.footer {
    height: 50%;
}

.fixed {
    position: fixed;
    padding: 16px;
}

.highlight {
    color: var(--accent);
}

.vflex {
    display: flex;
    flex-direction: column;
}

.hflex {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.hflex-flow {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.pad16 {
    padding: 16px;
}

.bottom .contact {
    left: 0;
    bottom: 0;
}

.bottom .contact .phone, .bottom .contact .email {
    justify-content: left;
}

.bottom .links {
    z-index: 4;
    right: 0;
    bottom: 0;
}

.hspace {
    width: 8px;
}

.justify {
    text-align: start;
}

.portrait {
    width: 256px;
    padding-top: 4px;
    padding-right: 12px;
    vertical-align: middle;
}

.pub-img {
    padding-top: 4px;
    padding-right: 12px;
    height: 128px;
}

.bottom-fade {
    z-index: 3;
    background: linear-gradient(transparent, var(--bg));
    bottom: 0;
    position: fixed;
    height: 75px;
    width: 100%;
}

.paper-dl {
    display: inline;
}

a {
    color: var(--fg);
    text-align: center;
    padding: 8px;
    text-decoration: none;
    transition: color 100ms;

    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: var(--accent);
}

@media screen and (max-width: 600px) {

    .navbar .logo {
        display: none;
    }

    .navbar .links {
        align-items: center;
        justify-content: center;
    }

    .main .greeting .vdiv {
        height: 8px;
    }
    .main .greeting .interest_box {
        flex-direction: column;
    }

    .main .greeting .interest_box .divider {
        font-size: 1em;
    }

    .portrait {
        width: 100%;
        padding: 4px;
    }

    .bottom .contact .phone, .bottom .contact .email {
        justify-content: center;
    }

    .scroll {
        bottom: 8px;
    }

    .hide-mobile {
        display: none;
    }

    .content .row {
        width: 75%;
    }

    .justify {
        text-align: start;
    }

    .hflex-flow {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .column {
        float: left;
        width: 25%;
        padding: 5px;
      }
}
